.align-page {
    background-color: grey;
    height: 100vh;
}

.align-menu {
    width: 100%;
    height: auto;
}

.carousel img {
    width: 100%;
}

.loading-container {
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: max-content;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
}
